---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/es/Hero.astro";
import CardClientes from "../components/es/CardClientes.astro";
import Footer from "../components/es/Footer.astro";
import Navbar from "../components/es/Navbar.astro";
---

<Layout title="Welcome to Astro.">
	<Navbar />
	<main>
		<Hero />
		<section class="px-0 md:px-20 mb-36">
			<h3 class="text-center text-4xl mt-10 uppercase">
				¿Por qúe elegirnos?
			</h3>
			<div
				class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 w-full mt-14"
			>
				<article class="rounded-lg flex flex-col items-center">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="text-white text-center size-10 bg-green-500 rounded-full p-1 mb-3"
						><path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path><path d="M7 12l5 5l10 -10"></path><path
							d="M2 12l5 5m5 -5l5 -5"></path></svg
					>

					<h3 class="text-xl font-semibold">Lorem Ipsum</h3>
					<p class="text-sm text-gray-700 text-center">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Possimus, sed?
					</p>
				</article>
				<article class="rounded-lg flex flex-col items-center">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="text-white text-center size-10 bg-green-500 rounded-full p-1 mb-3"
						><path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path><path d="M7 12l5 5l10 -10"></path><path
							d="M2 12l5 5m5 -5l5 -5"></path></svg
					>

					<h3 class="text-xl font-semibold">Lorem Ipsum</h3>
					<p class="text-sm text-gray-700 text-center">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Possimus, sed?
					</p>
				</article>
				<article class="rounded-lg flex flex-col items-center">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="text-white text-center size-10 bg-green-500 rounded-full p-1 mb-3"
						><path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path><path d="M7 12l5 5l10 -10"></path><path
							d="M2 12l5 5m5 -5l5 -5"></path></svg
					>

					<h3 class="text-xl font-semibold">Lorem Ipsum</h3>
					<p class="text-sm text-gray-700 text-center">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Possimus, sed?
					</p>
				</article>
				<article class="rounded-lg flex flex-col items-center">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="text-white text-center size-10 bg-green-500 rounded-full p-1 mb-3"
						><path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path><path d="M7 12l5 5l10 -10"></path><path
							d="M2 12l5 5m5 -5l5 -5"></path></svg
					>

					<h3 class="text-xl font-semibold">Lorem Ipsum</h3>
					<p class="text-sm text-gray-700 text-center">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Possimus, sed?
					</p>
				</article>
			</div>
		</section>
		<section class="px-0 md:px-20 mb-20 flex flex-col lg:flex-row gap-10">
			<img
				src="/images/info.webp"
				alt="info"
				class="w-full lg:w-1/2 object-cover md:rounded-lg"
			/>
			<div class="w-full lg:w-1/2 p-5">
				<h3
					class="font-semibold text-3xl lg:text-4xl mb-5 text-green-600"
				>
					Lorem ipsum dolor sit amet.
				</h3>
				<p class="text-gray-800 lg:text-md text-pretty">
					Lorem ipsum dolor sit amet consectetur, adipisicing elit.
					Quo architecto id sequi eveniet pariatur tempore illo
					praesentium recusandae libero provident, at doloremque saepe
					ut quae iusto exercitationem commodi. Incidunt perspiciatis
					libero molestiae architecto quidem cupiditate veritatis
					deleniti non in quisquam!
				</p>
				<p class="text-gray-800 lg:text-md mt-5 text-pretty">
					Lorem ipsum dolor sit amet consectetur, adipisicing elit.
					Quo architecto id sequi eveniet pariatur tempore illo
					praesentium recusandae libero provident, at doloremque saepe
					ut quae iusto exercitationem commodi. Incidunt perspiciatis
					libero molestiae architecto quidem cupiditate veritatis
					deleniti non in quisquam!
				</p>
				<p class="text-gray-800 lg:text-md mt-5 text-pretty">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit.
					Necessitatibus ullam laborum optio praesentium totam rerum
					aliquam repellendus temporibus dolorem nam.
				</p>
			</div>
		</section>
		<h3
			class="text-center text-4xl mt-10 uppercase mb-10 text-green-500 font-semibold"
		>
			Últimas noticias
		</h3>
		<section class="px-5 md:px-20 mb-20 grid grid-cols-4 grid-rows-4 gap-5">
			<div
				class="bg-[url('/images/bento1.webp')] col-span-4 lg:col-span-2 row-span-4 bg-cover rounded-lg auto min-h-[500px] relative overflow-hidden hover:scale-[1.02] cursor-pointer transition-transform"
			>
				<div
					class="absolute rounded-lg w-full h-full z-10 bg-gradient-to-b from-black to-transparent p-10"
				>
					<div class="flex flex-col h-full">
						<h3
							class="text-white text-3xl sm:text-4xl font-semibold"
						>
							Lorem ipsum dolor sit amet
						</h3>
						<p class="mt-5 text-white/85 text-md font-light">
							Lorem ipsum dolor sit amet, consectetur adipisicing
							elit. At reiciendis perspiciatis beatae sit? Itaque
							doloremque perferendis neque, quis natus sapiente
							repellat, at veritatis provident optio consequatur
							nesciunt accusamus dicta delectus.
						</p>
						<p class="mt-5 text-white/85 text-md font-light">
							Lorem ipsum dolor sit amet, consectetur adipisicing
							elit. Nihil rerum autem ut, eos accusamus deleniti
							harum ea corporis beatae possimus?
						</p>
					</div>
				</div>
			</div>
			<div
				class="bg-[url('/images/bento1.webp')] col-span-4 sm:col-span-2 row-span-4 sm:row-span-2 bg-cover rounded-lg relative min-h-[250px] hover:scale-[1.02] cursor-pointer transition-transform"
			>
				<div
					class="absolute rounded-lg w-full h-full z-10 bg-gradient-to-b from-black to-transparent p-10"
				>
					<div class="flex flex-col h-full">
						<h3 class="text-white text-2xl font-semibold">
							Lorem ipsum dolor sit amet
						</h3>
						<p class="mt-5 text-white/85 text-sm font-light">
							Lorem ipsum dolor sit amet, consectetur adipisicing
							elit. At reiciendis perspiciatis beatae sit? Itaque
							doloremque perferendis neque, quis natus sapiente
							repellat, at veritatis provident optio consequatur
							nesciunt accusamus dicta delectus.
						</p>
					</div>
				</div>
			</div>
			<div
				class="bg-[url('/images/bento1.webp')] col-span-4 sm:col-span-2 row-span-4 sm:row-span-2 bg-cover rounded-lg relative min-h-[250px] hover:scale-[1.02] cursor-pointer transition-transform"
			>
				<div
					class="absolute rounded-lg w-full h-full z-10 bg-gradient-to-b from-black to-transparent p-10"
				>
					<div class="flex flex-col h-full">
						<h3 class="text-white text-2xl font-semibold">
							Lorem ipsum dolor sit amet
						</h3>
						<p class="mt-5 text-white/85 text-sm font-light">
							Lorem ipsum dolor sit amet, consectetur adipisicing
							elit. At reiciendis perspiciatis beatae sit? Itaque
							doloremque perferendis neque, quis natus sapiente
							repellat, at veritatis provident optio consequatur
							nesciunt accusamus dicta delectus.
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="px-5 md:px-20 mb-20">
			<h3
				class="text-center text-4xl mt-10 uppercase text-green-500 font-semibold"
			>
				Opinión de clientes
			</h3>
			<div
				class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 items-center gap-5 mt-10"
			>
				<CardClientes />
			</div>
		</section>
		<Footer />
	</main>
</Layout>

<style></style>
