<header class="relative">
    <div
        class="bg-gradient-to-b md:bg-gradient-to-r from-black to-transparent z-20 h-screen absolute inset-0 flex items-center p-0 md:px-20 text-center md:text-left"
    >
        <div class="">
            <h1
                class="text-4xl sm:text-5xl lg:text-7xl text-green-500 uppercase font-semibold"
            >
                Lorem Ipsum
            </h1>
            <p
                class="text-white text-md md:text-lg w-full px-10 md:px-0 md:w-1/2 mt-5"
            >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
                iusto eos id aperiam, repellendus enim ullam alias deleniti
                corporis quis, rerum dolorem placeat vero commodi similique a,
                vel quam et?
            </p>
            <button
                class="text-white mt-10 bg-green-500 px-10 py-3 text-xl rounded-lg hover:bg-green-600 transition-colors"
            >
                Comenzar
            </button>
        </div>
    </div>
    <img
        class="w-full h-screen object-cover z-10"
        src="/images/hero.webp"
        alt="https://unsplash.com/es/fotos/persona-sosteniendo-el-lapiz-cerca-de-la-computadora-portatil-5fNmWej4tAA?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash"
    />
</header>
